/*Name: MUHAMMAD NUR SYAHMI DANIAL BIN MOHD NORHISAM
Date: 10/6/2021*/

body{
	background-image: url("BG2.jpg");
	font-family: 'Arial', 'Verdana', sans-serif;
}  
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.contactNav) {
  background-color: #111;
  color: skyblue;
}

ul.topnav li a.contactNav {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    float: none;
  }
}

div.socialMedia a:link.mediaLink{
  color: brown;
}

div.socialMedia a:visited.mediaLink{
  color: blue;
}

div.socialMedia a:hover.mediaLink{
  color: red;
}

div.socialMedia a:active.mediaLink{
  color: green;
}

main{
  padding:10px;
  margin-top:30px;
  height:1500px;
}

body{
      font-family: Arial,Verdana,sans-serif;
      background-color: #D0ECE7;
    }
    .grid-container{
      grid-column: 2;
      grid-template-columns: 300px auto;
      display: grid;
      grid-gap: 10px;
      padding: 5px;
      text-align: left;
    }
    h1{
      font-family: "Lucida Handwriting", Helvetica, sans-serif;
      font-size: 40px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      background-color: seagreen;
      text-shadow: 0px 0px 2px black, 0px 0px 10px black, 0px 0px 30px black;
      border: 5px solid black;
    }
    #YourInformation,#MySocialMedia{
      width: 90%;
    }
    fieldset{
      background-color: rgb(51, 204, 166);
      margin: 20px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
   legend{
      font-style: italic;
      background-color: #29a329;
      padding: 10px;
      border-radius: 3px;
      font-family: "Monaco", "Courier New", monospace;
    }
    
    label{
      display: inline-block;
      width: 200px;
      padding-right: 50px;
      height: 25px;
      vertical-align: top;
    }
    input{
      display: inline-block;
      width: 90%; 
      height: 25px; 
      border-width: 3px;
      border-radius: 5px;
      padding: 5px;
      border-style: solid;
    }
    textarea{
      display: inline-block;
      width: 50%;  
      height: 100px;
      border-width: 3px;
      border-radius: 5px;
      text-align: left;
    }
    .radio-button{
      display: inline;
    }
    input[type="radio"]{
      display: inline;
      width: 20px;
      vertical-align: middle;
    }

    input[type="submit"],input[type="reset"]{
      border-radius: 5px;
      width: 200px;
      height: 40px;
      background-color: #2471A3;
      font-size: 18px;
      color: white;
      margin: 5px;
    }
    div.subreset{
      text-align: center;
    }

    .code{
      margin: 20px;
      padding: 10px;
      float: left;
      border: 5px solid black;
      text-align: center;
    }

    a{
  text-decoration: none;
}