/*Name: MUHAMMAD NUR SYAHMI DANIAL BIN MOHD NORHISAM
Date: 10/6/2021*/

body{
	background-image: url("BG2.jpg");
	font-family: 'Arial', 'Verdana', sans-serif;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
  color: skyblue;
}

ul.topnav li a.active {
  background-color: #04AA6D;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {
    float: none;
  }
}

ul.socialMedia li a:link.mediaLink{
  color: brown;
}

ul.socialMedia li a:visited.mediaLink{
  color: blue;
}

ul.socialMedia li a:hover.mediaLink{
  color: red;
}

ul.socialMedia li a:active.mediaLink{
  color: green;
}

main{
  padding:10px;
  margin-top:30px;
  height:1500px;
}

h1{
  text-align: center;
  text-transform: uppercase;
  border: 5px solid black;
  background-color: seagreen;
  color: white;
  text-shadow: 0px 0px 2px black, 0px 0px 10px black, 0px 0px 30px black;
  font-family: "Lucida Handwriting", Helvetica, sans-serif;
  font-size: 40px;
}
img.mainImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  border-radius: 20px;
  
}

ul.socialMedia li {
  text-align: center;
  display: block;
}
a{
  text-decoration: none;
}

h2{
  text-decoration: underline;
  font-family: "Copperplate", "Courier New", Fantasy;
  color: green;
  text-transform: uppercase;
  font-size: 30px;
}

p{
  font-family: "Verdana", Times, serif;
  color: rgb(0, 0, 102);
  font-size: 17px;
}

#color1{
  background-color: skyblue;
  padding: 10px;
}

#color2{
  background-color: lightgoldenrodyellow;
  padding: 10px;
}

div.content{
  border: 5px solid black;
  background-color: whitesmoke;
  padding:30px;
  margin-top:30px;
  box-shadow: inset 0px 0px 7px black;
  border-radius: 20px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 3px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: darkblue;
}

* {
  box-sizing: border-box;
}

.travelPic {
  padding: 20px 20px;
  width: 24.99999%;
  background: rgb(231, 231, 231);
  box-shadow: inset 0px 0px 20px black;
  border-radius: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  margin: 10px;
}

@media only screen and (max-width: 700px) {
  .travelPic {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .travelPic {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}