body{
      font-family: "Roboto", Arial, sans-serif;
      color: white;
    }
    .grid-container{
      grid-column: 2;
      grid-template-columns: auto auto;
      display: grid;
      grid-gap: 10px;
      padding: 5px;
      text-align: left;
    }
    .gridMain{
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      height: 250px;
      background-image: url(studentBackground.jpg);
      display: flex;
      background-size: cover;
      background-repeat:no-re peat;
    }
    fieldset{
      background-color: rgb(214, 234, 248);
    }
   legend{
    padding: 10px;
    background-color: #1c87c9;
    }
    label{
      color: black;
    }
    input[type=text],textarea{
      padding: 5px;
      width: 100%;
      border-radius: 8px;
    }
    input{
      padding: 5px;
      width: 100%;
      border-radius: 8px;
    }
    input:focus,textarea:fokus{
      border-style: solid;
      border-width: 2px; 
      border-color: #43D1AF;
    }
    input[type="submit"],input[type="reset"]{
      background-color: #1abc9c;
      color: white;
      font-size: 16px;
      width: 150px;
      border-radius: 5px;  
    }
    button{
      background-color: #1abc9c;
      color: white;
      font-size: 16px;
      width: 150px;
      border-radius: 5px;
    }